<h1><%= I18n.translate('app_title') %></h1>
<p><%= t('intro') %></p>
<div id="disclaimer">
  <h2><%= t('disclaimer_section.section_title') %></h2>
  <p><%= t('disclaimer_section.paragraph') %></p>
</div>
